Django
django-environ
psycopg2-binary
gunicorn
whitenoise
djangorestframework
django-axes
django-otp
qrcode
Pillow
requests
dnspython
django-csp
django-ratelimit
django-jazzmin
django-cloudinary-storage
cloudinary
celery
redis
dj-database-url
